<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>board write</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<header>
    <div th:replace="~{fragment/header :: header}"></div>
</header>
<body class="container mt-5">
    <div class="my-3">
        <form
            th:object="${item}"
            th:action="@{/board/write}"
            method="post"
            enctype="multipart/form-data"
        >
            <div class="mb-3">
                <input type="text" class="form-control form-control-lg board-input"
                       placeholder="제목" th:field="*{title}">
            </div>

            <div class="mb-4">
                <textarea class="form-control board-textarea" rows="12"
                          placeholder="내용" th:field="*{content}">내용</textarea>
            </div>

            <div class="mb-4 d-flex">
                <!-- 첨부파일명 목록 -->
                <div class="card board-card flex-grow-1 px-2 pb-2">
                    <div class="form-group ">
                        <label for="preview_image" class="form-label">첨부파일</label>
                        <input type="file" multiple="multiple" class="form-control"
                               name="files" id="preview_image" onchange="addFiles(event)">
                    </div>

                    <ul class="d-flex mb-0" id="attachedFileList" th:if="${attachedFiles != null && !#lists.isEmpty(attachedFiles)}">
                        <li class="me-5" th:each="f : ${attachedFiles}" th:text="${f.originalName}">file</li>
                    </ul>

                    <div id="images_container" class="d-flex flex-wrap mb-2 gap-2"></div>

                    <ul class="mb-0" id="selectedFileList" style="display:none;"></ul>
                </div>
            </div>

            <div class="d-flex justify-content-end gap-3">
                <a class="btn btn-danger" th:href="@{/board/list}">취소</a>
                <button type="submit" class="btn btn-success">확인</button>
            </div>
        </form>
    </div>
</body>

<script th:inline="javascript">
    const dataTransfer = new DataTransfer();

    function setThumbnail(event) {
        var reader = new FileReader();

        reader.onload = function (event) {
            var img = document.createElement("img");
            img.setAttribute("src", event.target.result);
            img.setAttribute("class", "col-lg-6");
            document.querySelector("div#image_container").appendChild(img);
        };

        reader.readAsDataURL(event.target.files[0]);
    }

    function setDetailImage(event) {
        const input = event.target;
        const files = input.files;

        const emptyText = document.getElementById('fileNameText');
        const listEl = document.getElementById('selectedFileList');
        const previewEl = document.getElementById('images_container');

        listEl.innerHTML = '';
        previewEl.innerHTML = '';

        if (!files || files.length === 0) {
            listEl.style.display = 'none';
            if (emptyText) {
                emptyText.style.display = 'none';
            }
            return;
        }

        if (emptyText) {
            emptyText.style.display = 'none';
        }

        listEl.style.display = 'none';

        Array.from(files).forEach(file => {
            const li = document.createElement('li');
            li.textContent = file.name;
            listEl.appendChild(li);

            const reader = new FileReader();
            reader.onload = e => {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.className = 'd-flex col-lg-6 img-thumbnail me-2 mt-2'
                // img.style = ' width: 200px; height: 150px;'
                img.style.width = '200px';
                img.style.MaxHeight = '150px';
                previewEl.appendChild(img);
            };
            reader.readAsDataURL(file);
        });
    }

    function addFiles(event) {
        const files = event.target.files;
        const container = document.getElementById('images_container');

        if (files != null && files.length > 0) {

            for (let i = 0; i < files.length; i++) {
                dataTransfer.items.add(files[i]);
            }

            document.getElementById('preview_image').files = dataTransfer.files;

            renderImages();
        }
    }

    function renderImages() {
        const container = document.getElementById('images_container');
        container.innerHTML = '';

        for (let i = 0; i < dataTransfer.files.length; i++) {
            const file = dataTransfer.files[i];

            const wrapper = document.createElement('div');
            wrapper.className = 'position-relative d-inline-block me-2 mt-3';
            wrapper.style.width = '150px';

            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.className = 'img-thumbnail w-100';
                img.style.height = '150px';
                img.style.objectFit = 'cover';

                const btn = document.createElement('btn');
                btn.type = 'button';
                btn.className = 'btn btn-danger btn-sm position-absolute top-0 end-0 translate-middle rounded-circle'
                btn.style.padding = '0.2rem 0.4rem';
                btn.innerHTML = '&times;';

                btn.dataset.index = i;
                btn.onclick = function () {
                    removeFile(this.dataset.index);
                };

                wrapper.appendChild(img);
                wrapper.appendChild(btn);
                container.appendChild(wrapper);
            };

            reader.readAsDataURL(file);
        }
    }

    function removeFile(index) {
        const newDataTransfer = new DataTransfer();
        const files = dataTransfer.files;

        for (let i = 0; i < files.length; i++) {
            if (i != index) {
                newDataTransfer.items.add(files[i]);
            }
        }

        dataTransfer.items.clear();
        for (let i = 0; i < newDataTransfer.files.length; i++) {
            dataTransfer.items.add(newDataTransfer.files[i]);
        }

        document.getElementById("preview_image").files = dataTransfer.files;

        renderImages();
    }
</script>

</html>