<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body class="container mt-5 ">
    <div class="d-flex justify-content-between">
        <div class="bg-info m-3">
            logo
        </div>
        <div class="col-5 justify-content-end navbar ms-4">
            <div class="d-flex gap-3 ">
                <button class="btn btn-outline-primary">목록</button>
                <button class="btn btn-outline-primary">1</button>
                <button class="btn btn-danger">2</button>
                <button class="btn btn-success">3</button>
                <div>
                    <button class="btn btn-outline-primary">로그인</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-lg my-4 py-4 ">
        <div>
            <div class="d-flex justify-content-between">
                <h2>전체 게시글</h2>
                <a class="btn btn-primary rounded-pill px-4 py-2" th:href="@{/board/write}">새 글 작성</a>
            </div>
            <table class="table table-striped mt-2">
                <thead>
                <tr>
                    <th class="text-center">번호</th>
                    <th class="">제목</th>
                    <th class="text-center">작성자</th>
                    <th class="text-center">작성일</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="board, boardStat : ${boardList}">
                    <td class="text-center" th:text="${boardStat.count}">번호</td>
                    <td class=""><a th:href="@{/board/detail/{id}(id=${board.id})}" class="text-decoration-none link-dark" th:text="${board.title}"></a></td>
                    <td class="text-center" th:text="${board.author.username}">작성자</td>
                    <td class="text-center" th:text="${#temporals.format(board.createdAt, 'yyyy/MM/dd HH:mm')}">작성일</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>