<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body class="container mt-5 ">
    <header>
        <div th:replace="~{fragment/header :: header}"></div>
    </header>
    <div class="container-lg mt-2 py-4 ">
        <div>
            <div class="d-flex justify-content-between">

                <h2>전체 게시글</h2>
                <a class="btn btn-primary rounded-pill px-4 py-2" th:href="@{/board/write}">새 글 작성</a>
            </div>
            <table class="table table-striped mt-2 table-fixed" style="table-layout: fixed; width: 100%;">
                <thead>
                <tr>
                    <th class="text-center" style="width: 10%">번호</th>
                    <th class="text-center" style="width: 55%">제목</th>
                    <th class="text-center" style="width: 10%">작성자</th>
                    <th class="text-center" style="width: 15%">작성일</th>
                </tr>
                </thead>

                <!-- 게시글 리스트 -->
                <tbody>
                <tr class="" th:each="item, itemStat : ${boardList}">
                    <td class="text-center" th:text="${boardPage.totalElements - (boardPage.number * boardPage.size + itemStat.index)}">번호</td>
                    <td class="">
                        <div class="text-truncate" style="max-width: 100%">
                            <a th:href="@{/board/detail/{id}(id=${item.id}, page=${page + 1})}"
                                class="text-decoration-none link-dark "
                                th:text="${item.title}">
                            </a>
                        </div>
                    </td>
                    <td class="text-center" th:text="${item.author.username}">작성자</td>
                    <td class="text-center" th:text="${#temporals.format(item.createdAt, 'yyyy/MM/dd HH:mm')}">작성일</td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav th:if="${boardPage.totalPages > 1}" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!boardPage.hasPrevious()} ? ' disabled'">
                    <a class="page-link" th:href="@{/board/list(page=1)}"><<</a>
                </li>

                <li class="page-item" th:classappend="${!boardPage.hasPrevious()} ? ' disabled'">
                    <a class="page-link" th:href="@{/board/list(page=${boardPage.number})}" tabindex="-1">이전</a>
                </li>

                <li class="page-item" th:each="p : ${#numbers.sequence(1, boardPage.totalPages)}"
                    th:classappend="${p == boardPage.number + 1} ? ' active'">
                    <a class="page-link" th:href="@{/board/list(page=${p})}" th:text="${p}">1</a>
                </li>

                <li class="page-item" th:classappend="${!boardPage.hasNext()} ? ' disabled'">
                    <a class="page-link" th:href="@{/board/list(page=${boardPage.number + 2})}">다음</a>
                </li>

                <li class="page-item" th:classappend="${!boardPage.hasNext()} ? ' disabled'">
                    <a class="page-link" th:href="@{/board/list(page=${boardPage.getTotalPages()})}">>></a>
                </li>
            </ul>
        </nav>

        <div class="d-flex justify-content-between">
            <div>이번 주 가장 많이 조회한 게시글 구역</div>
            <div>다른 컨텐츠 구역</div>
        </div>
    </div>
</body>
</html>